In [1]:
#import libraries
import geocoder
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium

In [2]:
df = pd.read_excel("Torontontero.xlsx")
df

,postal_code,borough,Neighbourhoods,Latitude,Longitude
0,M5M,Scarborough,Agincourt and Brimwood,437332825,-794197497
1,M8K,Scarborough,Agincourt and Malvern,436536536,-795069436
2,M4L,Etobicoke,Alderwood,436689985,-793155716
3,M3D,Old City of Toronto,The Annex and Seaton Village,437258997,-79340923
4,M8X,North York,Don Mills,436536536,-795069436
...,...,...,...,...,...
135,M4E,Old City of Toronto,NaN,436515706,-794844499
136,M1M,Old City of Toronto,Chaplin Estates,43716316,-792394761
137,M2H,Old City of Toronto,NaN,438037622,-793634517
138,M5G,North York,NaN,436627439,-79321558
139,M8Y,North York,"Glen Park, Lawrence Heights",436056466,-795013207

In [3]:
print('The dataframe has {} borough and {} Neighborhoods.'.format(
        len(df['borough'].unique()),
        df.shape[0]
    )
)

The dataframe has 6 borough and 140 Neighborhoods.

In [4]:
x = np.array(df[["Longitude", "Latitude"]])

In [5]:
kmeans = KMeans(n_clusters=5, random_state=100)
kmeans.fit(x)

KMeans(n_clusters=5, random_state=100)

In [6]:
df["cluster"]=kmeans.predict(x)

In [14]:
Latitude = df.Latitude
Longitude = df.Longitude

In [7]:
df.head()

,postal_code,borough,Neighbourhoods,Latitude,Longitude,cluster
0,M5M,Scarborough,Agincourt and Brimwood,437332825,-794197497,4
1,M8K,Scarborough,Agincourt and Malvern,436536536,-795069436,3
2,M4L,Etobicoke,Alderwood,436689985,-793155716,1
3,M3D,Old City of Toronto,The Annex and Seaton Village,437258997,-79340923,2
4,M8X,North York,Don Mills,436536536,-795069436,3

In [8]:
df.value_counts("cluster")

cluster
4    50
3    32
1    23
2    20
0    15
dtype: int64

In [ ]:
# create map
map_clusters = folium.Map(location=[Latitude, Longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(n_clusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(df['Latitude'], df['Longitude'], df['Neighborhoods'], df['cluster']):
    label = folium.Popup(str(poi) + ' cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters